@import "variables";

/* Icon resize  */
.cardIcon {
    height: 11%;
    width: 10%;
  }

   /* Text justify */
 
  .logo {
   text-align: left;
  }
  
.cover-container {
    max-width: 42em;
  }
  
.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
  }

  .nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
  }

  .instructions {
      p {
          margin: 0;
      }

      h4 {
          padding-top: 30px;
      }

      ul {
          margin: 5px;          
      }

      li {
        padding: 5px;
        font-weight: 100;
        text-align: justify;
    }
  }

  .table {
      h3 {
          color: white;
      }
  }

  h1,h2,h3,h4,h5,h6 {
    font-family: $font-highlight;
    color: $font-color;
  }

  body {
      font-family: $font-main;
      color: $font-color;
  }

  .decision {
      padding: 10px;
  }

  @mixin hover {
    &:not([disabled]):hover {
      @content;
      border: 1px solid black;
    }
  }
  
  .pcCard {    
    @include hover {
      border-width: 2px;
      cursor: not-allowed;
    }
  }

  .userCard, .truco {
    @include hover {
      border-width: 2px;
      cursor: pointer;
    }
  }

  #newGame {
    cursor: pointer;
  }

  #gameLog {
    margin-top: 15px;
    height: 70px;
    overflow-y: auto;
  }