@charset "UTF-8";
/*
Author: Bruno Freitas
IT Web Programming
WEBD1000
NSCC IT Campus
Halifax - NS
*/

/* ===============================
	            MOBILE
   ===============================
*/
@media only screen and (max-width: 640px) {

  /*index*/
  section#introduction p {
    color: black;
    font-size: 1.4em;
    line-height: 110%;
    text-align: justify;
  }

  /*Contact*/
  
  .contactForm h2 {
    color: black;
    font-weight: bold;
    font-size: 1.5em;
  }
  
  .contactForm label {
    color: black;
    font-weight: bold;
    font-size: 1.1em;
  }

  .contactForm button {
    background-color: #4CAF50;
    color: white;
    font-size: 1.1em;

  }

  .contactForm button:hover {
    background-color: #45a049;
  }

  .contactForm {    
    background-color: #f2f2f2;    
  }

  /* Source: https://medium.com/@egwuchinedu69/how-to-send-contact-form-data-to-an-email-address-without-server-side-language-adeec579c586 */

  /*Goals*/

  section#mainGoal {
    text-align: center;
    font-size: 1.4em;
  }

  section#professionalGoals h2 {
    font-size: 1.2em;

  }

  section#personalGoals h2 {
    font-size: 1.2em;
  }

  section#professionalGoals {
    font-size: 1.1em;
  }

  section#professionalGoals ul li {
    list-style-type: none;
  }

  section#personalGoals {
    font-size: 1.1em;
  }

  section#personalGoals ul li{
    list-style-type: none;
  }

  /*Skills*/

  #skillsTab caption {
    border: 1px black solid;
    font-size: 1.2em;
    text-align: center;
    letter-spacing: 3px;
  }

  #skillsTab td::before{
    text-align: center;
    font-size: 1.1em; 
}


  /*Resume*/
  article#resume h2 {
    text-align: center;
    font-size: 1.4em;
  }

}  

/* ===============================
	        TABLET - DESKTOP
   ===============================
*/
@media only screen and (min-width: 641px) {

  /*index*/
  section#introduction p {
    color: black;
    font-size: 1.4em;
    line-height: 110%;
    text-align: justify;
  }

  /*Contact*/
  
  .contactForm h2 {
    color: black;
    font-weight: bold;
    font-size: 1.4em;
  }
  
  .contactForm label {
    color: black;
    font-weight: bold;
    font-size: 1.1em;
  }

  .contactForm button {
    background-color: #4CAF50;
    color: white;
    font-size: 1.1em;

  }

  .contactForm button:hover {
    background-color: #45a049;
  }

  .contactForm {    
    background-color: #f2f2f2;    
  }

  /* Source: https://medium.com/@egwuchinedu69/how-to-send-contact-form-data-to-an-email-address-without-server-side-language-adeec579c586 */

  /*Goals*/

  section#mainGoal {
    text-align: center;
    font-size: 1.4em;
  }

  section#professionalGoals h2 {
    font-size: 1.2em;

  }

  section#personalGoals h2 {
    font-size: 1.2em;

  }

  section#professionalGoals {
    font-size: 1.1em;
  }

  section#personalGoals {
    font-size: 1.1em;
  }

  /*Skills*/

  #skillsTab {
    border: 1px black solid;
  }

  #skillsTab th, #skillsTab td {
    border: 1px black solid;
    font-size: 0.85em;
    font-weight: normal;
  }

  #skillsTab thead tr th {
    background-color: #f2f2f2;
    color: black;
  }

  #skillsTab caption {
    text-align: center;;
}

  /*Resume*/
  article#resume h2 {
    text-align: center;
    font-size: 1.4em;
  }

}



