@charset "UTF-8";
/*
Author: Bruno Freitas
IT Web Programming
WEBD1000
NSCC IT Campus
Halifax - NS
*/

/* ===============================
            MOBILE
   ===============================
*/
@media only screen and (max-width: 640px) {

    /*index*/

    article#presentation {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    section#icons {
        flex: 0 1 100px;
    }

    section#introduction {
        width: 90%;
        height: auto;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    section#icons p img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: auto;
        margin-bottom: 20px;
    }

    /*Contact*/

    article#contactFormBox {
        margin-bottom: 80px;
    }

    article#contactFormBox section {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }

    .contactForm {
        width: 80%;
        border: 2px solid black;
        border-radius: 5px;
        padding: 20px;
    }

    .contactForm h2 {
        text-align: center;
        margin-bottom: 25px;
    }

    .contactForm label {
        text-align: center;
    }

    .contactForm input, .contactForm select, .contactForm textarea {
        width: 100%;
        padding: 12px;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
    }

    .contactForm input, .contactForm select, .contactForm textarea {
        border: 1px solid #ccc;
    }

    .contactForm textarea {
        height: 150px;
        resize: none;
    }

    .contactForm button {
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    /*Goals*/
    article#myGoals {
        display: grid;
        grid-template-columns: auto;
    }

    section#mainGoal {
        grid-row: 1;
        grid-column: 1/ span 4;
        width: 100%;
        margin: 50px auto 40px auto;
    }

    section#professionalGoals {
        grid-row: 2;
        grid-column: 1/ span 4;
        margin-bottom: 40px;
        width: 100%;
    }

    section#personalGoals {
        grid-row: 3;
        grid-column: 1/ span 4;
        margin-bottom: 40px;
        width: 100%;
    }

    #bannerContainer {
        grid-row: 4;
        grid-column: 1/ span 4;
        margin-bottom: 40px;
    }

    #simpleBanner {
        width: 100%;
        height: 90%;
        align-items: center;
    }

    /*Skills*/

    #skillsTab {
        margin-top: 50px;
    }

    #skillsTab * {
        display: block;
    }

    #skillsTab caption {
        margin-bottom: 20px;
        padding: 10px;
    }

    #skillsTab thead {
        display: none;
    }

    #skillsTab img {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }

    #skillsTab td::before{
        content: attr(data-name);
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center; 
    }

    /*Resume*/

    article#job h2, article#education h2, article#certification h2 {
        font-size: 1.2em;
    }

    article#job h3, article#education h3, article#certification h3 {
        font-size: 0.9em;
    }

    #ufg, #linkedin {
        width: 8%;
        height: auto;
    }

    #scrumstudy {
        display: block;
        width: 13%;
        height: auto;
    }

    #caixa, #nscc, #ifg, #git {
        display: block;
        width: 12%;
        height: auto;
    }

    article#job {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    article#job * {
        margin-bottom: 5px;
    }

    article#job h2 {
        margin-bottom: 20px;
        text-align: center;
    }

    article#job ul li {
        list-style-type: none;
    }

    #caixa {
        margin-left: auto;
        margin-right: auto;
    }

    article#job section {
        margin-bottom: 20px;
    }

    article#job p {
        margin-bottom: 10px;
    }

    article#education {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: center;
        text-align: center;
    }

    article#education section {
        flex: 0 1 auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    article#education section * {
        margin: 5px auto 5px auto;
    }

    article#certification {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: center;
        text-align: center;
    }

    article#certification section {
        flex: 0 1 auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    article#certification section * {
        margin: 5px auto 5px auto;
    }

    article#link {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: center;
        text-align: center;
    }

    article#link section {
        flex: 0 1 auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    article#link section * {
        margin: 5px auto 5px auto;
    }

}

/* ===============================
	    TABLET - DESKTOP
   ===============================
*/
@media only screen and (min-width: 641px) {

    /*index*/

    article#presentation {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    section#icons {
        flex: 0 1 100px;
    }

    section#introduction {
        width: 466px;
        height: auto;
        margin-bottom: 30px;
    }

    section#icons p img {
        width: 390px;
        height: auto;
        margin-bottom: 20px;
    }

    /*Contact*/

    article#contactFormBox {
        margin-bottom: 50px;
    }

    article#contactFormBox section {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contactForm {
        width: 30%;
        border: 2px solid black;
        border-radius: 5px;
        padding: 20px;
    }

    .contactForm h2 {
        text-align: center;
        margin-bottom: 25px;
    }
    
    .contactForm label {
        text-align: center;
    }

    .contactForm input, .contactForm select, .contactForm textarea {
        width: 100%;
        padding: 12px;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
    }

    .contactForm input, .contactForm select, .contactForm textarea {
        border: 1px solid #ccc;
    }

    .contactForm textarea {
        height: 150px;
        resize: none;
    }

    .contactForm button {
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    /*Goals*/
    article#myGoals {
        display: grid;
        grid-template-columns: auto;
    }

    section#mainGoal {
        grid-row: 1;
        grid-column: 1/ span 4;
        width: 100%;
        margin-bottom: 80px;
    }

    section#professionalGoals {
        grid-row: 2;
        grid-column: 1/ span 2;
        margin: auto auto auto 150px;
    }

    section#personalGoals {
        grid-row: 2;
        grid-column: 3/ span 2;
        margin: auto;
        width: 100%;

    }

    #bannerContainer {
        grid-row: 3;
        grid-column: 1/ span 4;
        margin-top: 100px;

    }

    #simpleBanner {
        width: 100%;
        height: 90%;
        align-items: center;
    }


    /*Skills*/

    #skillsTab {
        table-layout: auto;
        width: auto;
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }

    #skillsTab th, #skillsTab td {
        padding: 5px;
        vertical-align: top;
        width: 14.28%;
        word-wrap: normal;
    }

    #skillsTab tbody tr td img {
        width: 100px;
        height: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #skillsTab caption {
        caption-side: top;
        text-align: center;
        padding-bottom: 10px;
        font-size: 1.2em;
        letter-spacing: 3px;
        margin-bottom: 10px;
    }

    /*Resume*/

    article#job, article#education, article#certification, article#link {
        border-top: 1px black solid;
    }

    article#job h2, article#education h2, article#certification h2 {
        font-size: 1.2em;
    }

    article#job h3, article#education h3, article#certification h3 {
        font-size: 0.9em;
    }

    #ufg, #linkedin {
        width: 8%;
        height: auto;
    }

    #scrumstudy {
        display: block;
        width: 13%;
        height: auto;
    }

    #caixa, #nscc, #ifg, #git {
        display: block;
        width: 12%;
        height: auto;
    }

    article#job {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    article#job * {
        margin-bottom: 5px;
    }

    article#job h2 {
        margin-bottom: 20px;
        text-align: center;
    }

    #caixa {
        margin-left: auto;
        margin-right: auto;
    }

    article#job section {
        margin-bottom: 20px;
    }

    article#job p {
        margin-bottom: 10px;
    }

    article#education {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: center;
        text-align: center;
    }

    article#education section {
        flex: 0 1 auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    article#education section * {
        margin: 5px auto 5px auto;
    }

    article#certification {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: center;
        text-align: center;
    }

    article#certification section {
        flex: 0 1 auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    article#certification section * {
        margin: 5px auto 5px auto;
    }

    article#link {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: center;
        text-align: center;
    }

    article#link section {
        flex: 0 1 auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    article#link section * {
        margin: 5px auto 5px auto;
    }


}
